:root {
    /* width */
    --width-full: 120rem; /* 최상위 컨테이너 너비 (1920px) */
    --width-content-main: 73rem; /* 메인 콘텐츠 영역 너비 (1168px) */
    --width-frame-detail: 117.5rem; /* 프레임 상세 영역 너비 (1880px) */
    --width-comment-input: 68.8125rem; /* 댓글 입력창 너비 (1101px) */
    --width-button-small: 3.1875rem; /* 작은 버튼 너비 (51px) */
    --width-copy-button: 5.6875rem; /* 복사 버튼 너비 (91px) */
    --width-date-box: 6.6875rem; /* 날짜 박스 너비 (107px) */
  
    /* Font Weight */
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-semi-bold: 600;
  
    /* Font Size */
    --font-size-title-lg: 1.5rem; /* 탭, 폼 제목 (24px) */
    --font-size-title-md: 1.375rem; /* 다이어리 제목 (22px) */
    --font-size-title-sm: 1.25rem; /* 감정, 부제목 (20px) */
    --font-size-text-lg: 1.125rem; /* 헤더, 카드 제목 (18px) */
    --font-size-text-md: 1rem; /* 일반 텍스트, 입력 필드 (16px) */
    --font-size-text-sm: 0.875rem; /* 날짜, 부제, 푸터 텍스트 (14px) */
  
    /* Spacing */
    --gap-large: 4rem; /* 64px */
    --gap-medium: 2.5rem; /* 40px */
    --gap-small: 1.5rem; /* 24px */
    --gap-xsmall: 1rem; /* 16px */
    --gap-xxsmall: 0.75rem; /* 12px */
    --gap-tiny: 0.5rem; /* 8px */
  
    /* Border Radius */
    --border-radius-medium: 0.5rem; /* 8px */
    
    /* Paddings */
    --padding-small-v: 0.5rem; /* 8px vertical */
    --padding-small-h: 0.625rem; /* 10px horizontal */
    --padding-medium-v: 0.75rem; /* 12px vertical */
    --padding-medium-h: 1rem; /* 16px horizontal */
    --padding-large-v: 2.5rem; /* 40px vertical */
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pretendard Variable';
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .background {
    width: var(--width-full);
    height: 112.8125rem; /* 1805px */
    min-height: 55.875rem; /* 894px */
    max-height: 107.875rem; /* 1726px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-medium);

    position: relative;
  }
  
  .main {
    width: var(--width-full);
    height: 42.375rem; /* 678px */
    padding: 0 var(--padding-medium-h);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: var(--gap-large);
    position: relative;
  }

  #floating__button{
    width: 2.5rem;
    height: 2.5rem;

    position: absolute;
    top: 97.7rem;
    left: 93.9rem; 
}
  
  /* 상세 페이지 헤더 */
  .main__header {
    width: var(--width-full);
    height: 3.75rem; /* 60px */
    padding: 0 var(--padding-medium-h);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* 상세 페이지 헤더 - 타이틀 */
  .main__header__title {
    width: var(--width-content-main);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-lg);
    line-height: 1rem; /* 16px */
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  /* 상세 페이지 본문 */
  .main__frame {
    width: var(--width-frame-detail);
    height: 34.625rem; /* 554px */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
  }
  
  /* 상세 페이지 본문 - 다이어리 */
  .main__frame__diary {
    width: var(--width-content-main);
    height: 22.3125rem; /* 357px */
    border-bottom: 0.0625rem solid #000000; /* 1px */
    padding-bottom: var(--gap-xsmall);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
  }
  
  /* 상세 페이지 본문 - 다이어리 타이틀 */
  .frame__diary__title {
    width: var(--width-content-main);
    height: 5.25rem; /* 84px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-xsmall);
  }
  
  .diary__title {
    width: 100%;
    height: 2.25rem; /* 36px */
    border-bottom: 0.125rem solid #000000; /* 2px */
    padding-bottom: var(--gap-xxsmall);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-md);
    line-height: 1.5rem; /* 24px */
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  .diary__subtitle {
    width: 100%;
    height: 2rem; /* 32px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .diary__subtitle__feeling {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-tiny);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-title-sm);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
  }
  
  .sad {
    color: #28B4E1;
  }
  
  .surprise {
    color: #D59029;
  }
  
  .angry {
    color: #777777;
  }
  
  .happy {
    color: #EA5757;
  }
  
  .etc {
    color: #A229ED;
  }
  
  .diary__subtitle__date {
    width: var(--width-date-box);
    height: 1.25rem; /* 20px */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-tiny);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text-sm);
    line-height: 1.25rem;
    letter-spacing: -0.01em;
    white-space: nowrap;
    color: #919191;
  }
  
  /* 상세 페이지 본문 - 다이어리 본문 */
  .frame__diary__context {
    width: var(--width-content-main);
    height: 10.5625rem; /* 169px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-xxsmall);
  }
  
  .diary__context {
    width: 100%;
    height: 8.3125rem; /* 133px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8125rem; /* 13px */
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-text-md);
    line-height: 1.25rem;
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  .diary__context__text {
    width: 100%;
    height: 6.25rem; /* 100px */
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.25rem;
    letter-spacing: -0.01em;
    color: #333333;
  }
  
  .diary__copy {
    width: 100%;
    height: 1.5rem; /* 24px */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .diary__copy__botton {
    width: var(--width-copy-button);
    height: 1.5rem;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-tiny);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #1C1C1C;
  }
  
  /* 상세 페이지 본문 - 다이어리 수정, 삭제 버튼 */
  .frame__diary__button {
    width: var(--width-content-main);
    height: 2.5rem; /* 40px */
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-xsmall);
  }
  
  .diary__button {
    width: var(--width-button-small);
    height: 2.5rem;
    border: 0.0625rem solid #D4D3D3; /* 1px */
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small-v) var(--padding-small-h);
    background-color: #FFFFFF;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-lg);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1C1C1C;
    white-space: nowrap;
  }
  
  /* 상세 페이지 회고 */
  .main__frame__comment {
    width: var(--width-content-main);
    height: 12.8125rem; /* 205px */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: var(--gap-xsmall);
  }
  
  .frame__comment__form {
    width: var(--width-content-main);
    height: 5.3125rem; /* 85px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-xsmall);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-text-lg);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  .comment__form {
    width: 100%;
    height: 3rem; /* 48px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-xsmall);
  }
  
  .diary__comment {
    width: var(--width-comment-input);
    height: 3rem;
    border: 0.0625rem solid #D4D3D3; /* 1px */
    border-radius: var(--border-radius-medium);
    outline: none;
    padding: var(--padding-medium-v) var(--padding-medium-h);
    background-color: #FFFFFF;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  .diary__comment::placeholder {
    color: #ABABAB;
  }
  
  .comment__button {
    width: var(--width-button-small);
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small-v) var(--padding-small-h);
    background-color: #000000;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-text-lg);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
  }
  
  .comment__button:disabled {
    background-color: #C7C7C7;
  }
  
  .frame__comment__text {
    width: 100%;
    height: 6.5rem; /* 104px */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: var(--gap-xxsmall);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    text-align: center;
    color: #919191;
  }
  
  .comment__none {
    padding: var(--padding-large-v) 0;
  }
  
  .comment__box {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: var(--gap-xxsmall);
  }
  
  .comment {
    color: #000000;
  }
  
  hr {
    height: 0.0625rem;
    border: 0.0625rem solid #E4E4E4;
  }
  
  .comment__date {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    text-align: center;
    color: #777777;
  }

  .copy__message{
    width: 47.5rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #000000;
    opacity: 90%;

    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #FFFFFF;

    display: none;
    position: fixed;
    bottom: 2.5rem;
    left: calc(50% - 47.5rem/2);
  }

  @keyframes copy__toast__animation{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .copy__animated{
    animation: copy__toast__animation 1s;
  }

  @media (max-width: 75.5rem){
    :root{
        --width-full: 22.5rem; /* 최상위 컨테이너 너비 */
        --width-content-main: 20rem; /* 메인 콘텐츠 영역 너비 */
        --width-frame-detail: 20rem;
        --width-diary-list: 20rem; /* 일기 목록 너비 */
        --width-diary-card: 9.25rem; /* 일기 카드 너비 */
        --width-diary-form: 20rem; /* 일기 작성 폼 너비 */ 
    }
    .main{
        height: 52.5625rem;

        gap: 2.5rem;
        overflow: scroll;
    }
    #floating__button{
        top: 45.4rem;
        left: 18.75rem;
    }
    .main__header{
        height: 3.25rem;
    }
    .main__frame{
        height: 44.3125rem;
    
    }
    .main__frame__diary{
        height: 31.5625rem;

    }
    .diary__title{
        font-size: 1rem;
        font-weight: 1.5rem;
    }
    .diary__subtitle{
        height: 1.5rem;
    }
    .diary__subtitle__feeling{
        font-size: 0.875rem;
        font-weight: 400;
    }
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .diary__subtitle__date{
        font-size: 0.75rem;
        font-weight: 1rem;
    }
    .frame__diary__context{
        height: 20.8125rem;
    }
    .diary__context{
        font-size: 0.875rem;
        font-weight: 600;
    }
    .diary__context__text{
        height: 18.75rem;

        font-size: 0.875rem;
        font-weight: 400;
    }
    .diary__copy{
        display: none;
    }
    .main__frame__comment{
        height: 9.0625rem;
    }
    .frame__comment__form{
        height: 4.5625rem;

        gap: 0.8125rem;

        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .frame__comment__text{
        height: 3.5rem;
        
        font-weight: 400;
        font-size: 0.875rem;
    }
    .frame__diary__button{
        gap: 0.5rem;
    }
    .diary__button{
        width: 2.8125rem;
        height: 2rem;
        padding: 0.5rem 0.75rem;

        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
    }
    .diary__comment{
        height: 2.5rem;
        padding: 0.5rem 1rem;

        font-size: 0.875rem;
    }
    .comment__form{
        height: 3.5rem;
    }
    .comment__button{
        height: 2.5rem;
        font-size: 1rem;
    }
    .comment__date{
        font-size: 0.75rem;
        line-height: 1rem;
    }
}