/* 
.클래스명 {
    width: ;
    height: ;
    border: ;
    border-radius: ;
    outline: none;
    padding: ;
    background-color: ;


    display: ;
    flex-direction: ;
    justify-content: ;
    align-items: ;
    gap: ;

    font-weight: ;
    font-size: ;
    line-height: ;
    letter-spacing: ;
    text-align: ;
    color: ;

}
*/
:root {
    /* Width */
    --width-full: 120rem; /* 최상위 컨테이너 너비 */
    --width-content-main: 73rem; /* 메인 콘텐츠 영역 너비 */
    --width-diary-list: 49rem; /* 일기 목록 너비 */
    --width-diary-card: 17.125rem; /* 일기 카드 너비 */
    --width-diary-form: 22.5rem; /* 일기 작성 폼 너비 */
  
    /* Font Weight */
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-semi-bold: 600;
  
    /* Font Size */
    --font-size-title-lg: 1.5rem; /* 탭, 폼 제목 */
    --font-size-title-md: 1.125rem; /* 헤더, 카드 제목 */
    --font-size-text-md: 1rem; /* 일반 텍스트, 입력 필드 */
    --font-size-text-sm: 0.875rem; /* 날짜, 부제, 푸터 텍스트 */

    /* 이미지 비율 */
    --image-ratio: 1 / 1;
  }


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Pretendard Variable';
}

body{
    width: 100vp;
    height: 100vp;

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.background{
    width: var(--width-full); /* 초기 너비 */
    /* height: 112.8125rem; 초기 높이 */
    /* min-height: 55.875rem; 최소 높이 */
    /* max-height: 107.875rem; 최대 높이 */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;

    position: relative;
}

.main{
    width: var(--width-full);
    /* height: 100.313rem; */


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    position: relative;
}

.main__header{
    width: var(--width-full);
    height: 3.75rem;
    padding: 0 1.25rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__header__title{
    width: var(--width-content-main);
    height: 3.75rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-md);
    line-height: 1rem;
    letter-spacing: -1%;
    color: #000000;
}

.main__frame{
    width: var(--width-full);
    /* height: 95.063rem; */

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 1.5rem;
}

.main__frame__banner{
    width: var(--width-content-main);
    height: 15rem;
    border-radius: 1.5rem;
    background-image: url("../assets/images/banner.jpg") ;
    background-position: center;
    background-size: 100% auto; 
}

.main__frame__content{
    width: var(--width-full);
    /* height: 82.5625rem; */

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2rem;
}

.frame__content__navigator {
    width: var(--width-full);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    position: sticky;
}

.frame__content__tab {
    width: var(--width-content-main);
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.content__tab__menu{
    width: 7.438rem;
    height: 3rem;
    border: none;
    border-bottom: 0.125rem solid #000000;
    background-color: transparent;
    padding: 0.75rem 0.5rem;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-lg);
    line-height: 1.5rem;
    letter-spacing: -1% ;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.tab__menu__disabled {
    width: 7.438rem;
    height: 3rem;
    padding: 0.75rem 0.5rem;
    border: none;
    background-color: transparent;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-lg);
    line-height: 1.5rem;
    letter-spacing: -1% ;
    text-align: center;
    color: #ABABAB;
    white-space: nowrap;
}

.frame__content__filter{
    width: var(--width-content-main);
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter__main{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
}

.searchbar__group{
    width: 20rem;
    height: 3rem;
    border-radius: 6.25rem;
    border: 0.06rem solid #C7C7C7;
    padding: 0.75rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 0.5rem;
}

.searchbar__group input[type="text"]{
    height: 100%;
    border: none;
    outline: none;


    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #000000;
}

.searchbar__group input[type="text"]::placeholder{
    color:  #ABABAB;
}

.feeling__filter {
    width: 7.5rem;
    height: 2rem;
    border: 0.063rem solid #C7C7C7;
    border-radius: 0.5rem;
    padding: 0.25rem;
    

    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -1% ;
    color: #1C1C1C;
    white-space: nowrap; 
}

.add__diary__button {

    height: 3rem;
    padding: 0.5rem 0.62rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.dropdown__group{
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    overflow: visible;

    position: relative;
    z-index: 1;

    --dropdown-width:7.5rem;
    --dropdown-height: 3rem;
    --dropdown-padding: 0.75rem 0.625rem;
    --dropdown-list-padding: 0.75rem;
     
}

.dropdown__title{
    appearance: none;
    width: var(--dropdown-width);
    height: var(--dropdown-height);
    padding: var(--dropdown-padding);
    border-radius: 0.5rem;
    border: 0.06rem solid #C7C7C7;

    --filter-title: "전체";

    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #1C1C1C;

    position: relative;
    z-index: 2;
}

.dropdown__title::after{
    content: var(--filter-title);
}

.dropdown__title:checked + ul{
    display: block;
}

.dropdown__img{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.75rem;
    right: 0.625rem;
}

.dropdown__list{
    display: none;
    list-style-type: none;
    background-color: #FFFFFF;

    width: var(--dropdown-width);
    border-radius: 0.5rem;
    border: 0.06rem solid #C7C7C7;

    color: #5F5F5F;

    overflow: hidden;

    position: absolute;
    top: 3.5rem;
}

.dropdown__list input{
    display: none;
}

.dropdown__list input[type="radio"]:checked + label{
    color: #299C00;
    font-weight: var(--font-weight-bold);
    background-color: rgba(58, 181, 15, 0.05); 
}

.dropdown__list input[type="radio"]:checked + label img{
    display: block;
}

.dropdown__list label{
    display: flex;
    padding: var(--dropdown-list-padding);
    flex-direction: row;
    justify-content: space-between;
}

.dropdown__list label img{
    width: 1rem;
    display: none;
}

.dropdown__list label:hover{
    background-color: rgba(58, 181, 15, 0.05); 
}


.frame__content__diary {
    width: var(--width-content-main);
    /* min-height: 73rem; */

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 1.5rem;

    transition: width 0.3s linear;

    /* overflow: scroll; */
}


.content__diary__list{
    width: var(--width-content-main);
    /* height: 1167px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1.5rem;

    transition: width 0.3s linear;

    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -1% ;
    text-align: center;
    color: #919191;
    white-space: nowrap;
}


a{
    text-decoration: none;
    position: relative;
}

#delete__button{
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    transition: 
    width 0.5s,
    height 0.5s,
    top 0.5s,
    left 0.5s;
}


.diary__card{
    width: var(--width-diary-card);
    height: 18.5rem;
    border-radius: 1rem;
    padding-bottom: 1rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 1rem;

    transition: 
    width 0.5s,
    height 0.5s,
    box-shadow 0.5s;

    transition-timing-function: linear;
}


.diary__card__image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* background-image: url("./assets/images/sad_M.svg"); */
    /* background-size: 100% 100%; */
    object-fit: cover;

    transition: 
    width 0.5s,
    filter 0.5s;
}


/* .diary__card:hover .diary__card__image{
    width: 100%;
    filter: blur(0.188rem);
} */


.diary__card__text{
    width: var(--width-diary-card);
    height: 3.5rem;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.diary__card__subtitle{
    width: 100%;
    height: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: width 0.5s;
}

.diary__card__feeling{
    width: 3.75rem;

    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-text-sm);
    line-height: 1.25rem;
    letter-spacing: -1%;
    text-align: left;
}

.sad
{
    color: #28B4E1;
}

.surprise{
    color: #D59029;
}

.angry{
    color: #777777;
}

.happy{
    color: #EA5757;
}

.etc{
    color: #A229ED;
}

#diary__card__date{
    width: 6.25rem;

    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text-sm);
    text-align: right;
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #919191;
}


.diary__card__title{
    width: 100%;
    height: 1.5rem;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-md);
    line-height: 1.5rem;
    letter-spacing: -1%;
    overflow: hidden;
    text-align: left;
    color: #000000; 
}

/* 사진보관함 CSS */
#dog__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2.5rem;

}

.dog__image{
    width: 40rem;
    border-radius: 1.5rem;
    object-fit: cover;
    /* --ratio-basic : 1 / 1;
    --ratio-horizontal : 4 / 3;
    --ratio-vertical : 3 / 4 ;  */
    aspect-ratio: var(--image-ratio);
}

.skeleton__background{
    width: 40rem;
    height: 40rem;
    aspect-ratio: var(--image-ratio);
    border-radius: 1.5rem;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.60) 48.5%, rgba(255, 255, 255, 0.00) 100%);

    background-color: #E4E4E4;

    background-size: 300% auto;

    animation-name: skeleton;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes skeleton{
    from{
        background-position: 100% 0%;
    }
    to{
        background-position: 0% 100%;
    }
}


/* footer CSS */
.footer{
    width: var(--width-full);
    height: 10rem;
    padding: 1.5rem 1.25rem;
    background-color: #F2F2F2;


    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
}

.footer__container{
    width: var(--width-content-main);
    height: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
}

#footer__title {
    font-weight: var(--font-weight-bold);
    font-size: 1.25rem;
    line-height: 1rem;
    letter-spacing: -1%;
    color: #000000;
}

#footer__name {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text-sm);
    line-height: 1rem;
    letter-spacing: -1%;
    color: #5F5F5F;
}

#footer__copyright {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-text-sm);
    line-height: 1rem;
    letter-spacing: -1%;
    color: #919191;
}

/* 모달 그룹 - 다이어리 작성 */
#write__form__modal{
    display: none;
}

.modal__group__write{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal__background{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 50%;
}

.modal__write__diary{
    width: 40rem;
    height: 35rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
    opacity: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 2.5rem;
    
    position: absolute;
	top: calc(50% - 35rem/2);
	left: calc(50% - 40rem/2);
}

.modal__form__title{
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.5rem;
    letter-spacing: -1%;
}

.modal__form__input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

.form__input__feeling{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.25rem;
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.5rem;
}

.input__feeling__radio{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-medium);
    line-height: 1.25rem;
    color: #333333;
}

.feeling{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.form__input__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;

    gap: 1.5rem;
}

.input__text__title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-medium);
    line-height: 1.25rem;
}

#title__feeling{
    width: 100%;
    height: 3rem;
    border: 0.063rem solid #D4D3D3;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
    
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #333333;
}
    
#title__feeling::placeholder{
    color: #ABABAB;
}

.input__text__context{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-medium);
    line-height: 1.25rem;
}
    
#context__feeling{
    width: 100%;
    height: 8rem;
    border: 0.063rem solid #D4D3D3;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;

    font-weight: var(--font-weight-medium); 
    font-size: var(--font-size-text-md);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #333333;
}

#context__feeling::placeholder{
    color: #ABABAB;
}

.form__input__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.modal__form__button{
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    border-radius: 0.5rem;
    border: none;

    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.5rem;
    letter-spacing: -1%;
    text-align: center;
    white-space: nowrap;
}

#cancel__button{
    background-color: #FFFFFF;
    border: 0.0625rem solid #000000; 
    color: #1C1C1C;
}

#diary__write__button{
    background-color: #000000;
    color: #F2F2F2;
}

#diary__write__button:disabled {
    background-color: #C7C7C7;
}

#write__submit__modal{
    display: none;
}

.modal__group__submit{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal__submit__write{
    width: 30rem;
    height: 12.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: #FFFFFF;


    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    position: absolute;
	top: calc(50% - 12.5rem/2);
	left: calc(50% - 30rem/2);
}

.modal__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    letter-spacing: -1%;
    text-align: center;
}

.modal__title{
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.5rem;
    letter-spacing: -1%;
}

.submit__modal__button{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.625rem;
    background-color: #000000;

    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.5rem;
    letter-spacing: -1%;
    color: #FFFFFF;
}

#write__close__modal{
    display: none;
}

.modal__group__close{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal__close__write{
    width: 30rem;
    height: 12.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: #FFFFFF;


    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    position: absolute;
	top: calc(50% - 12.5rem/2);
	left: calc(50% - 30rem/2);
}

.modal__close__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.31rem;
}

#keep__button{
    background-color: #FFFFFF;
    border: 0.0625rem solid #000000; 
    color: #1C1C1C;
}

#close__button{
    background-color: #000000;
    color: #F2F2F2;
}

/* 미디어 쿼리 부분 */
/* 1280px
@media(max-width: 75.5rem){
    :root{
        --width-full: 75.5rem;
    }
} */

/* 뷰포트가 75.5rem 이상일 때만 hover 기능 작동 - 사유: 정신사나움 ..  */
@media (min-width: 75.5rem){

    .frame__content__diary:has(.diary__card:hover){
        width: 75rem;
    }
    .content__diary__list:has(.diary__card:hover){
        width: 75rem;
    }
    .diary__card:hover #delete__button{
        width: 1.688rem;
        height: 1.688rem;
    
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
    }
    .diary__card:hover{
        width: 19.125rem;
        height: 20rem;
        
        box-shadow: 0 0.125rem 1.875rem 0 rgba(0, 0, 0, 0.16);
    }
    .diary__card:hover .diary__card__subtitle{
        width: 110%;
    }
    .diary__card:hover .diary__card__image{
        width: 100%;
        filter: blur(0.188rem);
    }
}

/* 뷰포트가 75.5rem 이하 일 때 */
@media (max-width: 75.5rem){
    :root{
        --width-full: 22.5rem; /* 최상위 컨테이너 너비 */
        --width-content-main: 20rem; /* 메인 콘텐츠 영역 너비 */
        --width-diary-list: 20rem; /* 일기 목록 너비 */
        --width-diary-card: 9.25rem; /* 일기 카드 너비 */
        --width-diary-form: 20rem; /* 일기 작성 폼 너비 */ 
    }
    .background{
        height: 156.3125rem;
    }
    .main{
        height: 146.8125rem;
    }
    #floating__button{
        top: 144rem;
        left: 18.75rem;
    }
    .main__frame{
        height: 141.5625rem;
    }
    .frame__content__diary{
        overflow: visible;
        height: 117.4375rem;
        flex-direction: column;
    }
    .content__diary__list{
        height: 100%;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        order: 2;
    }
    .diary__card__image{
        object-fit: cover;
    }
    #delete__button{
        left:7rem
    }
    .content__diary__form{
        height: 40.5rem;
        order: 1;
    }
    .diary__form__input{
        height: 28rem;
    }
    .modal__write__diary{
        width: var(--width-content-main);
        height: 30rem;

        gap: 1.5rem;

        top: calc(50% - 30rem/2);
        left: calc(50% - 20rem/2);
    }
    .modal__form__title{
        font-size: 1.25rem;   
    }
    .modal__form__input{
        gap: 1.5rem;
        overflow: scroll;
    }
    .form__input__feeling{
        height: 12.75rem;

        gap: 1rem;

        font-size: var(--font-size-text-md);
        font-weight: var(--font-weight-semi-bold);
        line-height: 1.25rem;
    }
    .input__feeling__radio{
        flex-direction: column;
        gap: 0.75rem;

        font-size: var(--font-size-text-md);
    }
    .form__input__text{
        height: 14.5rem;
        gap: 1rem;
    }
    .input__text__title{
        font-size: 0.75rem;
    }
    #title__feeling{
        height: 2.5rem;
        padding: 0.5rem 1rem;
        font-size: var(--font-size-text-sm);
    }
    .input__text__context{
        font-size: 0.75rem;
    }
    #context__feeling{
        padding: 0.5rem 1rem;
        font-size: var(--font-size-text-sm);
    }
    .modal__form__button{
        height: 2.5rem;
        font-size: var(--font-size-text-md);
    }
    .modal__submit__write{
        width: var(--width-content-main);
        height: 9.75rem;

        gap: 1.5rem;
        left: calc(50% - 20rem/2);
    }
    .submit__modal__button{
        height: 2.5rem;
        font-size: var(--font-size-text-md);
    }
    .modal__close__write{
        width: var(--width-content-main);
        height: 9.75rem;

        gap: 1.5rem;
        left: calc(50% - 20rem/2);
    }
    .modal__title{
        font-size: var(--font-size-text-md);
        line-height: 1.25rem;
    }
    .modal__text{
        font-size: var(--font-size-text-sm);
        line-height: 1rem;
    }
    .dog__image{
        width: 17.5rem;
    }
    .dropdown__group{
        --dropdown-width: 6.375rem;
        --dropdown-height: 2.5rem;
        --dropdown-padding: 0.5rem 0.625rem;
        --dropdown-list-padding: 0.5rem 0.75rem;
    }
    .dropdown__title,
    .dropdown__list{
        font-size: var(--font-size-text-sm);
    }
    .dropdown__img{
        top: 0.5rem;
    }
}
