.card {
  position: sticky;
  top: 2.5rem;
  width: 25.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-start;
}

.purchaseCard {
  width: 25.75rem;
  height: 12.75rem;
  padding: 1.5rem;
  border: 0.0625rem solid var(--color-gray-100);
  border-radius: 0.5rem;
  background-color: var(--color-gray-white);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.priceSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0;
  height: 2rem;
}

.price {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
  color: var(--color-gray-black);
}

.currency {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
  color: var(--color-gray-black);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.descriptionText {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
  color: var(--color-gray-700);
}

.descriptionTextLight {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  line-height: 1.25rem;
  color: var(--color-gray-700);
}

.buttonWrapper {
  width: 100%;
}

.buttonWrapper button {
  width: 100%;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellerCard {
  width: 25.75rem;
  height: 8rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sellerTitle {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.75rem;
  color: var(--color-gray-black);
}

.sellerProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.profileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.sellerName {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
  color: var(--color-gray-800);
}
