@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-pretendard-variable);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* color */
  --color-gray-black: #000000;
  --color-gray-900: #1c1c1c;
  --color-gray-800: #333333;
  --color-gray-700: #5f5f5f;
  --color-gray-600: #777777;
  --color-gray-500: #919191;
  --color-gray-400: #ababab;
  --color-gray-300: #c7c7c7;
  --color-gray-200: #d4d3d3;
  --color-gray-100: #e4e4e4;
  --color-gray-50: #f2f2f2;
  --color-gray-white: #ffffff;
  --color-red: #f66a6a;
  --color-blue: #2974e5;

  /* font-size */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  /* font-size-버튼용 */
  --font-size-btn: 1.125rem;

  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

a {
  text-decoration: none;
}

body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'SUIT Variable', sans-serif;
}
