.formContainer {
  min-width: 25rem;
  max-width: 25rem;
  width: 100%;
  padding: 15.25rem 1.25rem 2.5rem 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.formContainer div {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: var(--font-weight-medium);
}

.formContainer > span {
  font-size: 1.125rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.5rem;
}

.formContainer img {
  width: 7.5rem;
  height: inherit;
}

.formContainer input {
  width: 100%;
}

.formContainer p {
  margin-bottom: 0.25rem;
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  color: var(--color-gray-800);
}

.formContainer button {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SignupBtn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: var(--font-weight-regular);
}

.inputContainer span {
  width: 100%;
  line-height: 1.5rem;
}

.inputContainer input {
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.75rem;

  /* border: 0.06rem solid var(--color-red); */
}

.error input {
  border: 0.06rem solid var(--color-red);
}

.inputContainer input::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.inputContainer > span {
  /* display: none; */

  width: 100%;
  margin-top: 0.5rem;

  font-size: 0.75rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
  color: var(--color-red);
}
