/* Comment Write Container */
.commentWrite {
  width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Title Section */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
}

.titleText {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5rem;
  color: var(--color-gray-black);
}

/* Content Section */
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textareaWrapper {
  width: 100%;
  height: 9rem;
  padding: 0.75rem 1rem;
  border: 0.0625rem solid var(--color-gray-200);
  border-radius: 0.5rem;
  background-color: var(--color-gray-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textarea {
  width: 100%;
  height: 6rem;
  border: none;
  outline: none;
  resize: none;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
  color: var(--color-gray-black);
}

.textarea::placeholder {
  color: var(--color-gray-400);
}

.count {
  width: 100%;
  text-align: right;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.5rem;
  color: var(--color-gray-400);
}

/* Button Section */
.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
