.image__upload__group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}

.image__upload__group div {
  position: relative;
}

.upload__image {
  max-width: 10rem;
  min-width: 10rem;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;

  object-fit: cover;
}

.imageDeleteBtn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.image__label:hover .imageDeleteBtn {
  display: flex;
}

.add__image label {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--color-gray-50);

  color: var(--color-gray-600);
}

.add__image img {
  fill: var(--color-gray-600);
  width: 1.35rem;
  height: 1.35rem;
}

.add__image span {
  color: var(--color-gray-600);
}

.textDesktop {
  display: inline;
}

.textMobile {
  display: none;
}

@media (max-width: 780px) {
  .add__image label {
    max-width: 10rem;
    min-width: 6.25rem;
    width: 100%;
    flex: 1 1 0;
  }
  .textDesktop {
    display: none;
  }
  .textMobile {
    display: inline;
  }
}
