.navigation {
  width: 80rem;
  height: auto;
  padding: 1.25rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navigation__tab img {
  height: 2rem;
}

.navigation__tab div {
  width: auto;
  height: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.5rem;
  text-align: center;
  color: var(--color-gray-800);

  white-space: nowrap;
}

.navigation__tab div.selected {
  border-bottom: 0.125rem solid var(--color-gray-black);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-black);
}

.navigation__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.loginBtn {
  width: auto;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6.25rem;
  background-color: var(--color-gray-black);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25rem;
  text-align: center;

  color: var(--color-gray-white);
}
