/* 
.클래스명 {
    width: ;
    height: ;
    border: ;
    border-radius: ;
    outline: none;
    padding: ;
    background-color: ;


    display: ;
    flex-direction: ;
    justify-content: ;
    align-items: ;
    gap: ;

    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: ;
    text-align: ;
    color: ;

}
*/

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Pretendard Variable';

}

body{

    width: 100vp;
    height: 100vp;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.background{

    width: 1920px; /* 초기 너비 */
    height: 1805px; /* 초기 높이 */
    min-height: 894px; /* 최소 높이 */
    max-height: 1726px; /* 최대 높이 */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.main{

    width: 1920px;
    height: 1605px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.main__header{

    width: 1920px;
    height: 60px;
    padding: 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.main__header__title{

    width: 1168px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -1%;
    color: #000000;

}

.main__frame{

    width: 1920px;
    height: 1521px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.main__frame__banner{

    width: 1168px;
    height: 240px;
    border-radius: 24px;
    background-image: url("./assets/images/banner.jpg") ;
    background-position: center;
    background-size: 100% auto; 

}

.main__frame__content{

    width: 1920px;
    height: 1257px;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 42px;


}

.frame__content__tab {

    width: 1168px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

}

.content__tab__menu{

    width: 119px;
    height: 48px;
    border-bottom: 2px solid #000000;
    padding: 12px 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1% ;
    text-align: center;
    color: #000000;
    white-space: nowrap;

}

.tab__menu__disabled {

    width: 119px;
    height: 48px;
    padding: 12px 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1% ;
    text-align: center;
    color: #ABABAB;
    white-space: nowrap;

}

.frame__content__diary {

    width: 1168px;
    height: 1167px;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 24px;

    transition: width 0.5s ease-out;
    
}

.frame__content__diary:has(.diary__card:hover){

    width: 1200px;

}

.content__diary__list{

    /* min-width: 784px; */
    /* max-width: 816px; */
    width: 784px;
    height: 1190px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-content: flex-start;
    gap: 24px;

    transition: width 0.5s ease-out;

}


.content__diary__list:has(.diary__card:hover){

    width: 860px;

}

a{
    text-decoration: none;
}

.diary__card{

    width: 380px;
    height: 373px;
    border-radius: 16px;
    padding-bottom: 16px;


    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 16px;

    transition: 
    width 0.5s,
    height 0.5s,
    box-shadow 0.5s;


}


.diary__card:hover{

    width: 412px;
    height: 396px;
    
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);



}

.diary__card:hover .diary__card__subtitle{

    width: 110%;

}


.diary__card__image{

    width: 100%;
    height: 100%;
    border-radius: 16px;
    /* background-image: url("./assets/images/sad_M.svg"); */
    background-size: 100% 100%;

    transition: 
    width 0.5s,
    filter 0.5s;

}


.diary__card:hover .diary__card__image{

    width: 100%;
    filter: blur(3px);

}


.diary__card__text{

    width: 380px;
    height: 56px;
    padding: 0px 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}

.diary__card__subtitle{

    width: 100%;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: width 0.5s;

}

.diary__card__feeling{

    width: 60px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;

}

.sad
{
    color: #28B4E1;
}

.surprise{
    color: #D59029;
}

.angry{
    color: #777777;
}

.happy{
    color: #EA5757;
}

.etc{
    color: #A229ED;
}

#diary__card__date{

    width: 100px;

    font-weight: 400;
    font-size: 14px;
    text-align: right;
    line-height: 24px;
    letter-spacing: -1%;
    color: #919191;
}


.diary__card__title{

    width: 100%;
    height: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #000000; 

}

.content__diary__form{

    width: 360px;
    height: 604px;
    border: 1px solid #D4D3D3;
    border-radius: 16px;
    padding: 24px 24px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.diary__form__title{

    width: 100%;
    height: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #000000;

}

.diary__form__input{

    width: 100%;
    height: 404px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.form__input__feeling{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #000000;

}

.input__feeling__radio{

    width: 100%;
    height: 68px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1%;
    color: #333333;

}

.feeling{

    height: 24px;

    display: flex;
    flex-direction: row;
    gap: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1%;

}

.form__input__text{

    width: 100%;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

}

.input__text__title{

    width: 100%;
    height: 76px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
    color: #333333;

}

.input__text__context{

    width: 100%;
    height: 156px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
    color: #333333;

}

#title__feeling{

    width: 100%;
    height: 48px;
    border: 1px solid #D4D3D3;
    border-radius: 8px;
    outline: none;
    padding: 12px 16px;
    background-color: #FFFFFF;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #333333;

}

#title__feeling::placeholder{

    color: #ABABAB;

}

#context__feeling{

    width: 100%;
    height: 128px;
    border: 1px solid #D4D3D3;
    border-radius: 8px;
    outline: none;
    padding: 12px 16px;
    background-color: #FFFFFF;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #333333;

}

#context__feeling::placeholder{

    color: #ABABAB;

}

.diary__form__button{

    width: 100%;
    height: 48px;
    border: 0px;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: #000000;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #F2F2F2;

}
.diary__form__button:disabled{

    background-color: #C7C7C7;

}



.page{



}

.footer{

    width: 1920px;
    height: 160px;
    padding: 24px 20px;
    background-color: #F2F2F2;


    display: flex;
    flex-direction: row;
    justify-content: center;

}

.footer__container{

    width: 1168px;
    height: 112px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;

}

#footer__title {

    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -1%;
    color: #000000;

}

#footer__name {

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1%;
    color: #5F5F5F;

}

#footer__copyright {

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1%;
    color: #919191;

}