.banner {
  width: 80rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-gray-200);
  border-radius: 1rem;
  overflow: hidden;
}

.bannerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.imageSection {
  width: 36.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  padding: 3rem 3.3125rem 3rem 1.5625rem;
  background-color: #cccbb4;
}

.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.125rem;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #abaa8c;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.4625rem;
  color: var(--color-gray-white);
  white-space: nowrap;
}

.title {
  width: 100%;
  font-size: 2.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 2.7625rem;
  color: var(--color-gray-black);
  text-align: right;
  white-space: pre-line;
}

