.profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  height: 15rem;
  background-color: var(--color-gray-white);
  border: 0.0625rem solid var(--color-gray-100);
  border-radius: 0.5rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile__header {
  display: flex;
  flex-direction: column;
}

.profile__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  height: 2.5rem;
  cursor: pointer;
}

.profile__user__name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.profile__name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
  color: var(--color-gray-800);
}

.profile__divider {
  width: 100%;
  height: 0;
  margin: 0.75rem 0;
  border: none;
  border-top: 0.0625rem solid var(--color-gray-100);
}

.profile__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
}

.profile__pointValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.profile__pointAmount {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
  color: var(--color-gray-black);
}

.profile__pointUnit {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
  color: var(--color-gray-black);
}

.profile__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  /* padding: 0.5rem; */
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
  color: var(--color-gray-black);
}

.profile__tab:hover {
  background-color: var(--color-gray-50);
  border-radius: 0.25rem;
}
